<img src="/logo.png" alt="Logo">
<p>You are in VNI</p>
<h1>{{vni}}</h1>
connected to
<h1>{{ap}}</h1>

<h3>Further information</h3>
<p>
  IP: {{ip}}
</p>
<p>
  MAC: {{mac}}
</p>

<style>
  body {
    text-align: center;
    background-color: {{color}};
    color: white;
    font-size: 2em;
    font-family: sans-serif;
  }
  img {
    box-sizing: border-box;
    padding: 30px;
    max-width: 80%;
  }

</style>
